.video-card {
    margin: 10px;
    
    width: 200px;
    overflow: hidden;
    overflow: auto;
    scrollbar-color: #999 #333;
  }
  
  .video-card img {
    width: 100%;
  }
  
  .video-card h3 {
    font-size: 1em;
    color: #f5f5f5;
  }
  
  .video-card p {
    font-size: 0.9em;
    color: #f5f5f5;
  }

  .icons img {
    width: 24px;
    height: 24px;
  }


  
